:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --site-light-color: #e6f7ff;
  --site-primary-color: #1890ff;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
}
